@tailwind base 

@layer base {
    :root {
      --color-text-base: 47, 45, 46; /* black */
      --color-text-inverted: 255,255,255; /* white */
  
      --color-bg: 255, 255, 255; /* white */
      --color-bg-inverted: 23, 23, 23; /* black */
  
      --color-accent:108, 86, 193 /* purple */
      --color-accent-muted:254, 191, 16  /* yellow */
      --color-accent-inverted: 255, 113, 145 /* pink */
    }
  }